/* Reset básico */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Fondo de la página: degradado verde-blanco */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #43e97b, #38f9d7);
}

/* Estilo del formulario */
form {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 40px 50px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    width: 320px;
    text-align: center;
}

/* Inputs */
input[type="text"], input[type="password"] {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: all 0.3s;
    background-color: #f9f9f9;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #43e97b;
    box-shadow: 0 0 8px rgba(67, 233, 123, 0.5);
    outline: none;
    background-color: #fff;
}

/* Botón */
input[type="submit"] {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #43e97b;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background-color: #38f9d7;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Placeholder */
::placeholder {
    color: #aaa;
    font-style: italic;
}

/* Título opcional */
form h2 {
    margin-bottom: 25px;
    color: #333;
}